.dialogs {
    margin-top: 10px;
    border-left: 4px solid #7294a1;
    display: grid;
    grid-template-rows: 100px 100px;


}

.iam {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 600px;
    width: 200px;

}

.you {
    grid-gap: 20px;
    width: 200px;
    display: grid;
    grid-template-columns: 60px auto;
}



.iamM{
    padding-top: 10px;
    background-color: #29444f;
    border-radius: 20px;
}
.youI img{


    height: 60px;
    border-radius: 50px;
    width: 60px;

}
.youM{
    padding-top: 10px;
    background-color: #29444f;
    border-radius: 20px;
}
.imaI img{
    border-radius: 50px;
    width: 60px;

}