.header {
    background-color: #110303;
    grid-area: header;
    padding: 10px;
    border: 4px solid #2ea2cc;
}

.imagesH {
    width: 100px;
}

.textH {

    top: 30px;
    right: 560px;
 font-size: 30px;

}