.friends{
   width: 100px;
    display: grid;
    margin: 10px;
    grid-gap: 10px 10px;
    /*grid-template-columns: 1fr 1fr 1fr 1fr    ;*/


}
.friends img{
    width: 200px;
}
.friendsO {
    display: grid;
    justify-items: center;

    background-color: #418aa8;
    border-radius: 20px;


}
.friendsO img{
    margin: 10px;
}
.friendsO a{
    text-decoration: none;
}
.colums button{

    border-radius: 5px;
    background-color: cadetblue;
height: 20px;
    margin: 10px;
    width: 210px;
    border-bottom-style: none;
}
