
.grid {
    height: 5000px;
    display: grid;
    margin: 0;
    width: auto;
    grid-gap: 5px 5px;
    grid-template-columns: 190px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas:
"header header"
"nav contents"
"nav contents"
    
}

.contents {

    background-color: #2ea2cc;
    grid-area: contents;
    border: 4px solid #110303;
}




